* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  user-select: none;
  -webkit-user-select: none;
  /* For Safari */
  -ms-user-select: none;
  /* For Internet Explorer/Edge */
}

html {
  height: 100vh;
  overflow-y: scroll;
}

body {
  min-height: 100vh;
  flex-direction: column;
  background-color: #167ac6;
  text-align: center;
  font-family: myFont;
}

/*Navbar start*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #167ac6;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  /* border: 2px solid red; */

}

.navbar-list {
  /* border: 1px solid red; */
  width: 65%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}


.navbar a {
  -webkit-tap-highlight-color: transparent;
  /* For mobile Safari */
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: 0.3s;
  background-color: transparent;
  /* Just to be extra sure */
}


.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background-color: transparent;
  outline: none;
  color: #000;
}

.navbar-logo .logo-link {
  font-weight: 600;
  font-size: 2rem;
  margin-left: 20px;
}

/*Navbar End*/

/* ------------------------------Profile--------------------------------------------- */
.wrapper {
  margin-left: 5%;
  margin-right: 5%;
}

.profile {
  display: block;
}

.profile-img {
  margin-right: 20px;
  width: 200px;
  height: 300px;
}

.profile .profile-img {
  margin-top: 210px;
  margin-bottom: 250px;
}

.profile h1 {
  text-align: justify;
  user-select: none;
  -webkit-user-select: none;
  /* For Safari */
  -ms-user-select: none;
  /* For Internet Explorer/Edge */
}

.wrapper .profile-intro {
  margin-bottom: 500px;
  margin-top: 130px;
  font-size: 1.5rem;
  color: #fff;
  text-align: left;
  flex: 1;
}



/*-----------------------------Profile-End--------------------------------------- */


/*-----------------------------Footer-Start---------------------------------------*/

.footer {
  background-color: #167ac6;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  /* border: 1px solid red; */
}

.footer-link {
  margin: 10px;
  padding: 10px;
  color: #EAF6F6;
  text-decoration: none;
  font-size: 1.3rem;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}

.footer-link:active,
.footer-link:focus,
.footer-link:hover {
  background-color: transparent;
  outline: none;
  color: #000;
}

.copyright {
  color: gray;
  font-size: 1.1rem;
  margin-top: 20px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*-----------------------------Footer-End---------------------------------*/


@media only screen and (max-width: 700px) {

  .wrapper .profile {
    margin-bottom: 0px;
  }

  .navbar-logo .logo-link {
    font-weight: 600;
    font-size: 2rem;
    margin-left: 25px;
    position: relative;
    bottom: 30px;
  }

  .profile .profile-img {
    margin-top: 150px;
    margin-bottom: 50px;
  }

  .wrapper .profile-intro {
    margin-top: 0px;
    font-size: 1rem;
    text-align: left;
  }

  .navbar {
    height: 80px;
  }

  .footer {
    height: 80px;
  }

  .footer-link {
    /* border: 1px solid red; */
    position: relative;
    top: 5px;

  }

  .copyright {
    margin-top: 22px;
  }

}